@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url("https://fonts.googleapis.com/css?family=Zen+Maru+Gothic");

@font-face {
    font-family: "dot_font";
    src: url('./dotFontTtf.ttf') format('truetype');
    src: url('./dotFontOtf.otf') format('opentype');
} /* ドットフォント */

:root {
    --default-font-family: "Zen Maru Gothic", sans-serif;
    --dot-font-family: "dot_font", monospace;
    --source-code-font: "Source Code Pro", monospace;
}

* {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--default-font-family);
}

*:not(input, small, h2, h3, button, textarea) {
    font-size: 20px;
}

small {
    font-size: 15px;
}

#user, #area, #button {
    border-radius: 10px 10px;
    font-size: 25px;
}

#box, .box {
    border: 2.5px solid rgb(67, 131, 199);
    border-radius: 10px 10px;
    height: 100%;
    width: 90%;
    background-color: rgb(221, 238, 255);
    width: 70%;
    /*スマホに合わせて調整*/
    width: 70%;
    @media screen and (max-width: 768px) {
        width: 90%;
        height: 130%;
    }
}

#button {
	display: block;
    text-align: center;
	text-decoration: none;
	background: rgb(255, 255, 255);
	margin: auto;
	padding: 0.5rem 3rem;
	font-weight: bold;
	border: 2px solid rgb(67, 131, 199);
	color: rgb(67, 131, 199);
	border-radius: 100vh;
	transition: 0.3s;
}

#button:hover {
	color: #fff;
	background: rgb(67, 131, 199);
}

.delete-button {
	display: block;
    text-align: center;
	text-decoration: none;
	background: rgb(255, 255, 255);
	margin: auto;
	padding: 0.2rem 0.5rem;
	font-weight: bold;
	border: 2px solid rgb(67, 131, 199);
	color: rgb(67, 131, 199);
	border-radius: 100vh;
	transition: 0.3s;
}

.delete-button:hover {
	color: #fff;
	background: rgb(67, 131, 199);
}

.reload-button {
	display: block;
    text-align: center;
	text-decoration: none;
	background: rgb(255, 255, 255);
	margin: auto;
	padding: 0.5rem 0.5rem;
	font-weight: bold;
	border: 2px solid rgb(67, 131, 199);
	color: rgb(67, 131, 199);
	border-radius: 100vh;
	transition: 0.3s;
}

.reload-button:hover {
	color: #fff;
	background: rgb(67, 131, 199);
}

.icons {
    display: flex;  
    gap: 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 350px;
    margin-top: 10px;
    text-align: center;
}

.icons_text {
    margin-top: -20px;
    display: flex;  
    width: 350px;
}

.icons_text h3 {
    display: block;  
    width: 80px;
    text-align: center;
}

#user, .button, .text {
    width: 95%;
}

.emoji {
    width: 30px;
    height: 30px;
}

.card {
    border: 5px inset rgb(67, 131, 199);
    width: 95%;
    height: 80vh;
    border-radius: 10px 10px;
    background-size: cover;
}

#title_text {
    font-family: sans-serif;
}

#area {
    width: 95%;
    height: 430px;
}

.no_warp {
    display: inline-block;
}

.special_icon {
    width: 23px;
    height: 23px;
}

hr {
    width: 80%;
}

/* テーブル関連 */

th {
    border: 1.5px solid rgb(67, 131, 199);
}

td {
    border: 1.5px solid rgb(115, 156, 201);
}

table {
    width: 95%;
}

textarea {
    width: 70%;
    height: 30vh;
    font-size: 13px;
}

.menu {
    width: 10%;
}

/* ソースコード関連 */

#code > code > pre {
    font-family: var(--source-code-font);
    font-size: 15px;
    text-align: left;
    overflow: scroll;
}

#code {
    background-color: rgb(26, 26, 26);
    color: white;

    border: 3px white solid;
    height: 100%;
    width: 90%;
}

body, html {
    background: linear-gradient( rgb(178, 215, 254), rgb(126, 187, 252) );
    background-attachment: fixed;
}

a.link_color {
    color: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

/*ホバー時の色*/
a.link_color:hover {
    color: rgb(67, 131, 199);
}

.icons_image_webp {
    transition: 0.2s ;
}

.icons_image_webp:hover {
    opacity: 0.5 ;
}

.catchphrase_color {
    color:#4383c7;
}

.button {
    text-align: center;
    text-decoration: none;
    background: rgb(255, 255, 255);
    margin: auto;
    padding: 0.6rem 0.8rem;
    font-weight: bold;
    border: 2px solid rgb(67, 131, 199);
    color: rgb(67, 131, 199);
    border-radius: 100vh;
    transition: 0.3s;
}

.button:hover {
    color: #fff;
    background: rgb(67, 131, 199);
}

.buttons {
    display: flex;  
    gap: 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 550px;
    margin-top: 10px;
    text-align: center;
}

.mail_button {
    text-align: center;
	text-decoration: none;
	background: rgb(255, 255, 255);
	margin: auto;
	padding: 0.3rem 2rem;
	font-weight: bold;
	border: 2px solid rgb(67, 131, 199);
	color: rgb(67, 131, 199);
	border-radius: 100vh;
	transition: 0.3s;
}

.mail_button:hover {
	color: #fff;
	background: rgb(67, 131, 199);
}

.mail_buttons {
    display: flex;  
    gap: 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 300px;
    margin-top: 10px;
}

.hutoji {
    font-weight: bold;
}

.shatai {
    font-style: oblique;
}

.torikeshi {
    text-decoration-line: line-through;
}